.simditor {
  .attr-settings{
    .action-button {
      text-align: right;
    }
  }
  .attr-for-title {
    word-wrap: break-word;
    word-break: break-all;
  }
  .attr-settings-field {
    ul {
      padding-left: 0;
      ul {
        padding-left: 1em;
      }
    }
    li {
      list-style: none;
      >label {
        min-width: 100px;
        display: inline-block;
        text-align: right;
      }
    }
  }
}